.item_quantity__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.75rem 0.25rem;   
}
.item_quantity__button{
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    border: none;
    background: #7e2222;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (min-width:450px) {
    .item_quantity__box {
        flex-direction: column;
        padding:0;
        /* margin: 0.5rem 0; */
        justify-content: space-between;
        align-items: stretch;
    }

}


.item__quantity{
    display: flex;
    align-items: center;
    width: 15vw;
    justify-content: space-around;
    border: 1px solid #c9c4c4;
}
.item__quantity button{
    background: none;
    border: none;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
}
.item__quantity p{
    margin: 0;
}
.item__quantity__remove{
    color: #a9a4a4;
}
.item__quantity__add{
    color: #34a934;
}
.item__quantity button:hover{
    transform: scale(1.15);
}