.input__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    
    width: 20vw;
    text-align: center;
    padding: 7px;
    border: none;
    background: lightgrey;
}
@media screen and (min-width:450px) {
    input{
        width: 9vw; 
        padding: 5px 0;
        margin: 5px 0;
    }
}

input:focus{
    outline: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
    outline: none;
}